<%= render 'shared/navbar_white' %>
<div class="container" style="padding-top:150px;padding-bottom: 150px;">

<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %> |


</div>
