.contact_heading{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 70px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-top: 70px;
  line-height:1.1em;
}
.contact_para{
  font-family : Times;
  font-size :20px;
  letter-spacing : -0.31px;
  font-weight: 100;
  line-height:1.3em;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding: 0 20px;
  margin-bottom:0;
}
.slika_contact{
  width: 60px;
}
