.services-div-main{
  padding-top: 130px;
  padding-bottom: 100px;
}
.our-work-picture{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.work-catalog{
  padding-bottom: 150px;
}
.heading_black_webs{
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-transform: inherit;
  font-weight: bold;
  font-size:30px;
  margin-bottom: 40px;
}

.services_p2 li{
  font-family: 'Poppins', sans-serif;
  font-size:18px ;
}
.services_p2 > strong {
  font-weight:600 ;
}

.cyber-col-web{
  background: image-url("back-cyber-2.png");
  background-size: contain;
  background-position:center center;
  background-height: 100%;
  background-repeat: no-repeat;
}

#image-mobile-bezveze{
  width: 240px;
  height: 240px;
  object-fit: cover;
}

#video_animation_height{
  width:50%;
}

#video_animation_mobile{
  width: 100%;
}
#video_animation_smaller{
  width: 80%;
}
@media only screen and (min-width: 990px) {
.mob-comm{
  display: none;
}
}

@media only screen and (max-width: 990px) {
  #video_animation_mobile{
    width: 50%;
  }
  .work-catalog{
    padding-right: 15px;
    padding-left:15px;
  }
  .services-new{
    padding-right: 15px;
    padding-left:15px;
  }
  .services-div-main{
    padding-right: 15px;
    padding-left:15px;
  }
  .cyber-col-web{
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 15px;
  }
  #video_animation_smaller{
    width: 40%;
  }
  .desktop-comm{
    display:none;
  }
}

