.services-div-main{
  padding-top: 130px;
  padding-bottom: 70px;
}
.our-work-picture{
  width: 100%;
}
.work-catalog{
  padding-bottom: 150px;
}
.heading_black_webs{
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-transform: inherit;
  font-weight: bold;
  font-size:30px;
  margin-bottom: 40px;
}

.services_p2 li{
  font-family: 'Poppins', sans-serif;
  font-size:18px ;
}
.services_p2 > strong {
  font-weight:600 ;
}
