@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Open+Sans:ital,wght@0,400;500;0,600;0,700;1,700&display=swap');
body{
  background-color: #fff;
}
.logo_client{
  width:310px;
  padding-bottom:40px;
}
.section_1{
  background-color: #EC2227;
  margin-bottom: -27px;
}
.home_heading{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 105px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-top: 70px;
  line-height:1.1em;
}
.home_since{
  font-family: 'Open Sans', sans-serif;
  font-weight : bold;
  font-size : 25px;
  letter-spacing : 1.95px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-bottom: 20px;
}
.home_para{
  font-family : Times;
  font-size :23px;
  letter-spacing : -0.31px;
  font-weight: 100;
  line-height:1.3em;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.section_2{
  background-color: #fff;
}
.home_heading_black{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 95px;
  line-height : 1.1em;
  letter-spacing : -1.83px;
  color : #000000;
  color : rgb(0, 0, 0);
  padding-top: 70px;
}
.home_heading_black_per{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 95px;
  line-height : 1.1em;
  letter-spacing : -1.83px;
  color : #000000;
  color : rgb(0, 0, 0);
  padding-top: 70px;
}
.section_tri_header{
  font-family: 'Open Sans', sans-serif;
  font-weight : bold;
  font-style : italic;
  font-size : 52px;
  color : #EC2227;
  color : rgb(236, 34, 39);
  z-index: 6;
  margin-bottom: 0;
}
.section_tri_para{
  font-family : Times;
  font-size : 23px;
  line-height:1.3em;
  color : #000000;
  color : rgb(0, 0, 0);
}
.dot1{
  background-color:#F2F2F2;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: inline-block;
  position: absolute;
  z-index:0;
}
.dot2{
  background-color:#FACD48;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
  z-index:0;
}
.dot3{
  background-color:#D32C15;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
  z-index:0;
}
.line_1{
  background-color:#F2F2F2;
  height: 100px;
  display: inline-block;
}
.section_tri_text{
  padding-top: 40px;
  padding-left: 40px;
  z-index:2;
  margin-bottom: 60px;
  position:relative;
}

.section_3{
  background-color: #EC2227;
  margin-bottom: -27px;
}

.section_11{
  background-color: #fff;

}
.home_heading_second{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 80px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-top: 40px;
  line-height: 1.1em;
}
.section_3_h{
  font-family: 'Open Sans', sans-serif;
  font-weight : bold;
  font-size : 26px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);

}
.section_3_p{
  font-family : Times;
  font-size :25px;
  letter-spacing : -0.31px;
  font-weight: 100;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-bottom:10px;
}
.homeabout{
  width:50px;
}
.ab_home {
  padding:15px 0;
}
.section_3_p_2{
  font-family : Times;
  font-size :20px;
  letter-spacing : -0.31px;
  line-height:1.3em;
  font-weight: 100;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-bottom:0px;
  margin-bottom:0px;
  padding-left:40px;
}
.section_4{
  background-color:#29BB97;
}
.sections_h4{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-weight : bold;
  font-size : 22px;
  letter-spacing: .1em;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-top:50px;
  padding-bottom:60px;
}
.sections_p{
  font-family : Times;
  font-size : 25px;
  letter-spacing : -0.36px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  padding-top:40px;
  padding-bottom:40px;
}
.sections_h4_2{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-weight : bold;
  font-size : 22px;
  letter-spacing: .1em;
  color : #000;
  padding-top:50px;
  padding-bottom:60px;
}
.sections_p_2{
  font-family : Times;
  font-size : 25px;
  letter-spacing : -0.36px;
  color : #000;
  padding-top:40px;
  padding-bottom:40px;
}
.sections_h2_4{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 100px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #FCF130;
}
.section_5{
  background-color: #FECB2F;
}
.sections_h2_5{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 100px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #9A5CB4;
}
.section_6{
  background-color: #3B99D9;
}
.sections_h2_6{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 100px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #FECB2F;
}
.section_7{
  background-color: #A325DC;
}
.sections_h2_7{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 100px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #F7966F;
}
.section_8{
  background-color: #D80F64;
}
.sections_h2_8{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 100px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #FEB28F;
}
.section_9{
  background-color: #F92329;
}
.sections_h2_9{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 100px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #FACC42;
}
.col-padd{
  padding-left:50px;
}

@media only screen and (max-width: 800px) {
  .home_heading{
    font-size: 45px;
  }
  .home_heading_services{
    font-size: 45px;
  }
  .home_para{
    font-size: 23px;
  }
  .home_since{
    font-size: 28px;
  }
  .home_heading_black{
    font-size: 65px;
    line-height : 1.3em;
  }
  .home_heading_black_per{
    font-size : 62px;
  }
  .col-padd {
    padding-left:15px;
  }
  .section_tri_header{
    font-size: 46px;
  }
  .section_tri_para{
    font-size: 22px;
  }
  .home_heading_second{
    font-size: 46px;
    line-height:50px;
  }
  .section_3_h{
    font-size: 22px;
  }
  .section_3_p{
    font-size: 20px;
  }
  .sections_h4{
    font-size: 21px;
  }
  .sections_p{
    font-size: 20px;
  }
  .sections_h2_4{
    font-size:60px;
    line-height:50px;
  }
    .sections_h2_5{
    font-size:60px;
    line-height:50px;
  }
   .sections_h2_6{
    font-size:60px;
    line-height:50px;
  }
   .sections_h2_7{
    font-size:60px;
    line-height:50px;
  }
   .sections_h2_8{
    font-size:60px;
    line-height:50px;
  }
   .sections_h2_9{
    font-size:60px;
    line-height:50px;
  }
  .section_1{
    padding: 0 15px;
  }
   .section_2{
    padding: 0 15px;
  }
   .section_3{
    padding: 0 15px;
  }
   .section_4{
    padding: 0 15px;
  }
   .section_5{
    padding: 0 15px;
  }
   .section_6{
    padding: 0 15px;
  }
   .section_7{
    padding: 0 15px;
  }
   .section_8{
    padding: 0 15px;
  }
   .section_9{
    padding: 0 15px;
  }
  .button_1{
    padding: 8px;
  }
}
