@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,700&display=swap');
// Import page-specific CSS files here.
@import "home";
@import "services";
@import "careers";
@import "contact";
@import "stories";
@import "clients";
