.home_heading_black_small{
  font-family: 'EB Garamond', serif;
  font-weight : bold;
  font-size : 70px;
  line-height : 1.1em;
  letter-spacing : -1.83px;
  color : #000000;
  color : rgb(0, 0, 0);
  padding-top:70px;
  padding-bottom:40px;
}
.slika_tm_2{
  width:430px;
}
.ime_2{
  font-family : Times New Roman;
  font-size : 23px;
  color : #414042;
  color : rgb(65, 64, 66);
  line-height:1.2em;
}
.role_2{
  font-family : 'Open Sans';
  font-weight : bold;
  font-size : 18px;
  color : #414042;
  color : rgb(65, 64, 66);
  padding: 10px 0;
  margin-bottom : 0px;
}
.section_12_row_klijent{
  padding-bottom:50px;
}
#hide_section_row_2{
  display:none;
}
.blue_row_3{
  font-family : 'Open Sans', sans-serif;
  font-weight : bold;
  font-size : 35px;
  line-height : 1.2em;
  letter-spacing : -0.49px;
  color : #262262;
  color : rgb(38, 34, 98);
}
.section_3_p_blue{
  font-family : Times;
  font-size : 23px;
  line-height : 1.4em;
  letter-spacing : -1.12px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
