<div class="contact_form" style="padding: 60px 15px;">
  <div class="container">
    <div class="contact_form_rows d-flex row">
      <div class="form_row_1 col-lg-6">
        <h4 class="sections_h4_black">DRIVE MORE SALES NOW</h4>
        <h2 class="sections_h2_6_black">Get more sales</h2>
        <p class="sections_p_black">We will prepare a custom road map for you
with list of steps you need to take in order to
increase your sales.</p>
      </div>
      <div class="form_row_1 col-lg-6">

      </div>
    </div>
  </div>
</div>
