<div class="contact_form" style="padding: 60px 15px;">
  <div class="container">
    <div class="contact_form_rows d-flex row align-items-center justify-content-between">
      <div class="form_row_1 col-lg-6 reveal">
        <h4 class="sections_h4_black" style="padding-top: 0;">GET IN TOUCH WITH US</h4>
        <h2 class="sections_h2_6_black_contact_2" >DRIVE MORE SALES NOW</h2>
        <p class="sections_p_black">We will prepare a custom road map for you
with list of steps you need to take in order to
increase your sales.</p>
      </div>
      <div class="form_row_1 col-lg-5 reveal" >

        <form class="form_contacts" action="https://formspree.io/f/xknkkoya" method="POST">
          <input name="name" type="name" class="form-control form_input_control mb-1" placeholder="Your Name">
          <input name="business_name" type="business_name" class="form-control form_input_control mb-1" placeholder="Business Name">
          <input name="email" type="email" class="form-control form_input_control mb-1" placeholder="Your email">
          <input name="website" type="website" class="form-control form_input_control mb-1" placeholder="Website">
          <textarea class="form-control form_input_control mb-1" name="message" placeholder="Your message:"></textarea>
          <button type="submit" class="form_button">SEND</button>
        </form>

      </div>
    </div>
  </div>
</div>

