<%
=begin%>
 <div class="contact_form" style="padding: 60px 15px;">
  <div class="container">
    <div class="contact_form_rows d-flex row align-items-center justify-content-between">
      <div class="form_row_1 col-lg-6 reveal">
        <h2 class="sections_h2_6_black_contact_2" >GET IN TOUCH <br> WITH US </h2>
        <p class="sections_p_black">We will prepare a custom road map for you with list of steps you need to take in order to increase your sales.</p>
      </div>
      <div class="form_row_1 col-lg-5 reveal" >
   <%= render 'kontakt', contact: @contact, storie: @storie %>
      </div>
    </div>
  </div>
</div>
 
<%
=end%>
