
<div class="contact_form" style="padding: 60px 15px;">
  <div class="container">
    <div class="contact_form_rows d-flex row">
      <div class="form_row_1 col-lg-6">
        <h4 class="sections_h4_black">DRIVE MORE SALES NOW</h4>
        <h2 class="sections_h2_6_black">Get more sales</h2>
        <p class="sections_p_black">We will prepare a custom road map for you
with list of steps you need to take in order to
increase your sales.</p>
      </div>
      <div class="form_row_1 col-lg-6">

      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer_row_1 d-flex row justify-content-between" >
      <div class="footer_row_row col-lg-6 col-md-6 col-sm-12">
        <%= image_tag 'mita_footer.png', :class => "footer_mita" %>

          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>

      </div>
      <div class="footer_row_row col-lg-6 col-md-6 col-sm-12">
        <h3 class="footer_text_h3">Get exclusive marketing tips</h3>
        <input type="ahmed" name="Kucuk" class="footer_input" value="email">
        <button class="button_2_div" style="margin-top: 30px; "><%= link_to "SIGN UP", "/services", class: "button_2", style: "margin-top:20px; width:100%; margin-right:5px;" %><%= image_tag 'strela2.png', :style => "width:17px;" %></button>
      </div>
    </div>
    <div class="footer_row_2 d-flex row justify-content-between" >
      <div class="footer_row_row_2">
         <p class="footer_text"> © 2021 MITA Group d.o.o. Sarajevo. All rights reserved.</p>
       </div>
       <div class="footer_row_row_2">
         <p class="footer_text">Impressum | Terms & Conditions | Privacy | Cookies</p>
       </div>
    </div>
  </div>
</div>
