<div class="page mobitel-mavbar ">
<div class="header-1" tabindex="0"><a href="/"><%= image_tag 'logo-mita-modern.png', :class => "logo_mita solid", :alt => "Mita Group logo image" %></a></div>
<div id="nav-container" >
  <div class="bg"></div>
  <div class="button" tabindex="0">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div id="nav-content" tabindex="0">
    <ul>
      <li><a href="/about">About</a></li>
      <li><div class="dropdown-mobile">
          <a class="dropbtn">Service <i class="fa fa-caret-down"></i></a>
          <div class="dropdown-content" style="z-index: 100;">
            <a href="/ecommerce">eCommerce</a>
            <a href="/webdesign">Web Design</a>
            <a href="/content-creation">Content Creation</a>
            <a href="/graphic-design">Graphic Design</a>
            <a href="/ppc-marketing">PPC Marketing</a>
            <a href="/seo">SEO</a>
            <a href="/social-media">Social Media</a>
            <a href="/consulting">Consulting</a>
          </div>
        </div></li>
      <li><a href="/stories">Stories</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/contacts">Contact</a></li>
      <li><a href="/checklist">Checklist</a></li>
      <li class="small"><a href="https://www.facebook.com/MITAgroupBiH">Facebook</a><a href="https://www.instagram.com/mita_group/">Instagram</a></li>
    </ul>
  </div>
</div>
</div>



<script type="text/javascript">
  $(document).ready(function() {
        // Transition effect for navbar
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 640) {
              $('.header-1').addClass('solid');
          } else {
              $('.header-1').removeClass('solid');
          }
        });
    });
</script>

<script type="text/javascript">
  $(document).ready(function() {
        // Transition effect for navbar
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() < 640) {
              $('.logo_mita_2').addClass('solit');
          } else {
              $('.logo_mita_2').removeClass('solit');
          }
        });
    });
</script>



