<div class="page mobitel-mavbar">
<header tabindex="0"><a href="/"><%= image_tag 'logo-mita-modern.png', :class => "logo_mita", :alt => "Mita Group logo image" %></a></header>
<div id="nav-container" >
  <div class="bg"></div>
  <div class="button" tabindex="0">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div id="nav-content" tabindex="0">
    <ul>
      <li><a href="/about">About</a></li>
      <li><div class="dropdown-mobile">
          <a class="dropbtn" href="/">Services
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content" style="z-index: 100;">
            <a href="/ecommerce">eCommerce</a>
            <a href="/webdesign">Web Design</a>
            <a href="/content-creation">Content Creation</a>
            <a href="/graphic-design">Graphic Design</a>
            <a href="/ppc-marketing">PPC Marketing</a>
            <a href="/seo">SEO</a>
            <a href="/social-media">Social Media</a>
            <a href="/consulting">Consulting</a>
          </div>
        </div></li>
      <li><a href="/stories">Stories</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/contacts">Contact</a></li>
      <li class="small"><a href="#0">Facebook</a><a href="#0">Instagram</a></li>
    </ul>
  </div>
</div>
</div>
