<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<%= render 'shared/navbarmobile_home' %>
<div class="mob000">
<%= render 'shared/navbar' %>
</div>

<% title 'Professional eCommerce Checklist at Your Disposal!' %>
<% description 'MITA Group is a full service eCommerce agency. Our video ads, photo content and PPC advertising strategies will boost your sales instantly.' %>
<% keywords 'ecommerce checklist agency' %>

<div class="homepage_container">
 <section class="section-ux-design_check">
 <div class="overlay-text1">
    <div class="section_1 home_section_1 container" id="home">
      <div class="d-flex row align-items-center justify-content-center ">
        <div class="col-lg-12">
          <h2 class="home_heading_check_2 checktext box animate fadeInUp" >Hello friend,<br><br>
            here is a prefect checklist of
            digital marketing activities
            you can consider to improve
            your web presence and
            online business.
          </h2>
          <hr style="color: #fff; border: 5px solid rgba(255, 255, 255, 1.0); opacity: 1; border-radius:10px ; width:140px;  ">
          <p class="home_para box animate fadeInUp" style="padding-bottom: 20px;">We have developed this checklist working with our clients.
            Please download the checklist of digital marketing activities,
            play with it and let us know your thoughts or see is there any
            way we can assist you in your marketing efforts.
            <br>
            Thank you.
          </p>
        </div>
        <div class="cyber-col-3 mobitel_slika_home col-lg-12 box animate u--zoomIn" style="margin-top: 40px;" >
          <div class="d-flex row align-items-end justify-content-center">
            <div class="col-lg-6 d-flex justify-content-center">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/114efa46-eb15-49a6-de42-2e437cef5e00/public", :style => "width:50%; text-align:center;", class: "section_float1", loading: "lazy", alt: "Full service eCommerce agency", title: "Full service eCommerce agency" %>
            </div>
            <div class="col-lg-6">
              <h3 class="home_heading_check box animate fadeInUp"><strong>Ejub Kučuk,</strong> CEO</h3>
               <p class="home_para_check box animate fadeInUp" style="padding-bottom: 20px;">30 years of experience leading agency and developing client brands</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="services-div_check">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="left col-lg-12" style="padding: 100px 0;">
        <h2 class="services_h2_bigger reveal u--zoomIn" style="color: #000;">Get your checklist now</h2>
        <p class="services_p2 reveal" style="padding-bottom: 20px;">The online store is the most important part of your business. Getting it right from the start is crucial. We will focus on great design, highlighting your products, optimising your store and single product pages, and simplifying the checkout process.</p>
        <div class="reveal"><a class="reveal button_cta_normal" href="/ecommerce">Learn More - eCommerce</a></div>
      </div>
    </div>
  </div>
</div>
<hr style="border: 5px solid #df1535; margin-top: 0; opacity: 1;">
</div>
</div>


