<div class="container">
  <div class="d-flex row justify-content-between" style="padding-top: 30px;">
    <%= image_tag 'logo5.png', :class => "logo_client" %>

    <%= image_tag 'logo5.png', :class => "logo_client" %>

    <%= image_tag 'logo5.png', :class => "logo_client" %>
  </div>
</div>
