<%= render 'shared/navbar_white_services' %>

<% title 'Get Consulting Based On Three Decades of Experience' %>
<% description 'Based on three decades of experience, we will provide accurate consulting for you business. Sit back, relax and let us develop business solutions for you.' %>
<% keywords 'Consulting' %>

<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, you have problems defining which product, at what prices, and to which target group to sell?</h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">Don’t worry we have three decades of experience in advertising and sales. Just lay down and enjoy.</p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Call us now</a></div>
      </div>
       <div class="cyber-col-web col-lg-6" >
        <div class="desktop-comm">
          <div class="d-flex row justify-content-center">
            <div class="col-lg-5 u--bounceIn" style="padding: 0; position:absolute; z-index: 1; left:250px; margin-top:-70px;">
              <%= image_tag "02research.png", class: "section_float_2" ,id: "video_animation" %>
            </div>
            <div class="col-lg-10 u--zoomIn" style="padding: 0; position:relative; width:100%;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/8ca203e3-47e4-435f-3946-21e7f7f4ef00/public", class: "" ,id: "video_animation", alt: "" %>
            </div>
          </div>
        </div>
        <div class="mob-comm" style="margin-top: 50px;">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/289ca159-96cf-4281-e407-530f0643a100/public", class: "section_float" ,id: "video_animation" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="services-new" style="padding-top: 0px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
        <h2 class="services_p2 reveal"><strong>The crucial task for a successful online business is to determine how your online store should look, which products, at what price, and to which target group it is best to sell your products.</strong></h2>
          <p class="services_p2 reveal">
          <strong>BASIC RESEARCH:</strong> Which products are best to sell, which prices are the best, delivery time acceptable to customers, rebate policy, who are potential customers, how to attract and convert visitors to customers.
          <br><br><strong>INDUSTRY RESEARCH:</strong> Sales and advertising of the entire industry, organic and paid search, SEO keywords, rebates, coupons, and customers.
          <br><br><strong>COMPETITION RESEARCH:</strong> Who is primary and who is secondary competition, how they sell, rebate policy, delivery terms, customer support, UX&UI of their web stores, advantages and disadvantages, budgets they use for advertising, how they advertise, how their ads look, how to win the battle for customers.</p>
<div class="container"  style="position: relative; padding-top: 56.25%; margin:50px 0;"><iframe src="https://customer-iifeqvttd8luvzt8.cloudflarestream.com/eae22f394b038127383419e5a0a8a635/iframe?muted=true&preload=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-iifeqvttd8luvzt8.cloudflarestream.com%2Feae22f394b038127383419e5a0a8a635%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false" style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%; object-fit: cover;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>
          <p class="services_p2 reveal">We are creating a strategy and timeline for your web store based on research
          <br><br>Maintaining a web shop is essential for lasting health and success. Maintenance service should include WP updates, theme and plugin updates, WP backups and security, analytics monitoring and reporting.
          <br><br>There are two options: independent maintenance and through a MITA.agency, but also a combination (e.g. client training for part of the backend, product input).
          <br><br>We recommend a self-maintenance to all clients for online stores because products have to be constantly added, quantities and other content updated. In this case, we will train you to use the content (product) management system (CMS) in person or remotely using ZOOM, Microsoft Teams and other screen-sharing applications.
          <br><br>The agency is also available for regular technical maintenance of the eCommerce website and SEO optimisation for a monthly fee.
          </p>
        <div class="reveal" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Send Us</a> the inquiry or idea about the web store you want to launch, and we will send you the offer or contact you ASAP.</div>
      </div>
    </div>
  </div>
</div>


