<div class="section_2" style="padding-bottom: 10px; padding-top: 80px;">
  <div class="container">
    <h1 class="home_heading_black box animate fadeInUp">Get in<br>touch with us</h1>
    <p class="section_tri_para box animate fadeInUp" style="margin-top: 45px;">Postoji mnogo načina na koje nas možete kontaktirati ukoliko ste zaintersovani za naše usluge.
Najjednostavniji je popunjavanjem kontakt forme ispod koja će nam dati većinu potrebnih informacija za
kreiranje ponude.</p>
  </div>
</div>
<div class="section_career_red">
  <div class="container" style="padding-bottom: 40px;">
    <h1 class="contact_heading box animate fadeInUp" style="padding-top: -50px;">Ukoliko preferirate<br>tradicionalne metode</h1>
    <div class="container">
    <div class="carer_picture_text d-flex row align-items-center">
      <div class="carer_picture">
        <%= image_tag 'con2.png',:class => "slika_contact", :style => "" %>
      </div>
      <div class="text_carer" style="padding-right: 70px;">
        <p class="contact_para">00387-33-278500</p>
      </div>
      <div class="carer_picture">
        <%= image_tag 'con1.png',:class => "slika_contact", :style => "" %>
      </div>
      <div class="text_carer ">
        <p class="contact_para">info@mita.agency</p>
      </div>
    </div>
  </div>
  </div>
</div>
