<div class="container">
  <div class="section_1">
    <h1 class="home_heading">Helping Brands<br>Drive More Sales</h1>
    <p class="home_since">since 1997</p>
    <p class="home_para">Kreirali smo i realizirali desetine hiljada reklamnih kampanja za različite vrste biznisa od 1997. godine do danas. Od prvog dana analiziramo ponašanja kupaca, pratimo njihove navike, koje vrste oglasa, u koje vrijeme i i na kojem mjestu je najbolje plasirati. Na taj način osiguravamo maksimalnu učinkovitost oglašavanja, uspješno kreiranje baza prodajnih leadova, akviziciju novih kupaca i povećanje prodaje.</p>
    <div class="button_1_div" style="margin-top: 30px;"><%= link_to "Learn more about our approach", "#", class: "button_1", style: "margin-top:20px;" %></div>
  </div>
  <div class="section_2">

  </div>
</div>
