<div class="section_1">
  <div class="container">
    <h1 class="home_heading">Helping Brands<br>Drive More Sales</h1>
    <p class="home_since">since 1997</p>
    <p class="home_para">Kreirali smo i realizirali desetine hiljada reklamnih kampanja za različite vrste biznisa od 1997. godine do danas. Od prvog dana analiziramo ponašanja kupaca, pratimo njihove navike, koje vrste oglasa, u koje vrijeme i i na kojem mjestu je najbolje plasirati. Na taj način osiguravamo maksimalnu učinkovitost oglašavanja, uspješno kreiranje baza prodajnih leadova, akviziciju novih kupaca i povećanje prodaje.</p>
    <button class="button_1_div" style="margin-top: 30px; "><%= image_tag 'strelica.png', :style => "width:30px;" %><%= link_to "Learn more about our approach", "#", class: "button_1", style: "margin-top:20px;" %></button>
  </div>
</div>
<div class="section_2">
  <div class="container">
    <h1 class="home_heading_black">Rezultati <br> sve govore</h1>
    <div class="section_tri d-flex row" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">€50+ million</h2>
          <p class="section_tri_para">smo povećali prodaju<br> našim klijentima</p>
        </div>
      </div>
      <div class="col-padd col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+</h2>
          <p class="section_tri_para">prodajnih leadova<br>smo prikupili</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <span class="dot1"></span>
        <div class="section_tri_text">
          <h2 class="section_tri_header">500.000+</h2>
          <p class="section_tri_para">različitih oglasa<br> smo kreirali</p>
        </div>
      </div>
  </div>
</div>
</div>
<div class="section_3">
  <div class="container">
    <h1 class="home_heading_second">We Know Better<br>Than Anyone Else</h1>
    <div class="section_3_list d-flex row" style="padding-top:50px;">
      <div class="section_3_list_first_row col-lg-6 col-md-6 col-sm-12">
        <h4 class="section_3_h">1. KOJI JE OPTIMALAN PERIOD</h4>
        <p class="section_3_p">trajanja kampanja. Nakon toga broj leadova<br>pada, a povećava se cijena akvizicije.</p>
        <h4 class="section_3_h">2. KOJI PROCENAT LEADOVA</h4>
        <p class="section_3_p">dolazi unutar prvih 5 dana kampanje,<br>a koliko nakon toga.</p>
        <h4 class="section_3_h">3. PROCENAT</h4>
        <p class="section_3_p">svih posjeta i konverzija koje dolaze sa mobitela.</p>
        <h4 class="section_3_h">4. KOJI SU BANERI</h4>
        <p class="section_3_p">najefikasniji i koji su najbolji nakon njih.</p>
      </div>
      <div class="section_3_list_second_row col-lg-6 col-md-6 col-sm-12">
        <h4 class="section_3_h">5. KOJI DIO OGLASA KUPCI NE VOLE</h4>
        <p class="section_3_p">Znamo kad potencijalni klijenti napuštaju pregled video<br>oglasa i kako unaprijediti konverziju video oglasa.</p>
        <h4 class="section_3_h">6. KOJI JE NAJBOLJI ODNOS</h4>
        <p class="section_3_p">Google Display i Premium oglasa na portalima te koji<br>oglasi imaju bolji stopu i cijenu konverzije.</p>
        <h4 class="section_3_h">7. RAZLIKU U STEPENU KONVERZIJE</h4>
        <p class="section_3_p">video oglasa i jednostavnih animacija.</p>
        <h4 class="section_3_h">8. KOJI DIGITALNI KANALI</h4>
        <p class="section_3_p">funkcioniraju kod različitih ciljnih skupina.</p>
      </div>
    </div>
    <button class="button_1_div" style="margin-top: 30px; "><%= image_tag 'strelica.png', :style => "width:30px;" %><%= link_to "Learn more about our approach", "#", class: "button_1", style: "margin-top:20px;" %></button>
  </div>
</div>
<div class="png" style="height: 100px;">

</div>
<div class="section_4">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">ONE OF THE LARGEST FINANCIAL <br>SERVICES PROVIDER IN CEE REGION</h4>
        <h2 class="sections_h2_4">25k+<br>sales leads<br>generated<br>in banking</h2>
        <p class="sections_p">We generated more than 25.000 sales leads for<br>loans and mortgages in 2020.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_5">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">ONE OF THE LARGEST INSURANCE<br>COMPANIES IN ADRIATIC REGION</h4>
        <h2 class="sections_h2_5">Neki podatak<br>koji možemo<br>izvući iz<br>izvještaja</h2>
        <p class="sections_p">We generated more thanxy sales leads, social<br>media engagement and loyalty.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_6">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">STATE OWNED LOTTERY OF<br>BOSNIA AND HERZEGOVINA</h4>
        <h2 class="sections_h2_6">13x<br>more<br>registrations<br>to e-wallet</h2>
        <p class="sections_p">Mislim da je i 700% povećana prodaja u tom<br>periodu pa treba i to dopisati.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_7">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">JEDAN OD NAJVEĆIH GRAĐEVINSKIH<br>BRENDOVA NA SVIJETU</h4>
        <h2 class="sections_h2_7">Izvući naslov<br>koji je pravo<br>zvučan za<br>naš rad</h2>
        <p class="sections_p">Mislim da je i 700% povećana prodaja u tom<br>periodu pa treba i to dopisati.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>
<div class="section_8">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">SMALL FRENCH BAKERY</h4>
        <h2 class="sections_h2_8">Brendiranje kao<br>konkurentska<br>prednost</h2>
        <p class="sections_p">Od ideje i logotipa do brenda koji predvodi<br>promjene u cijeloj industriji.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <h1 style="color: white;  border: 1px solid #fff; padding:50px;">IMG</h1>
      </div>
    </div>
  </div>
</div>

<div class="section_9">
  <div class="container">
    <div class="sections_rows d-flex row">
      <div class="row_1 col-lg-8 col-md-8 col-sm-12">
        <h4 class="sections_h4">HOODIE<br>SMALL FASHION BRAND</h4>
        <h2 class="sections_h2_9">3.4x<br>increase in<br>sales on<br>social media</h2>
        <p class="sections_p">Od ideje i logotipa do brenda koji predvodi<br>promjene u cijeloj industriji.</p>
      </div>
      <div class="row_2 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">

        <div><h1 style="color: white; border: 1px solid #fff; padding:50px;">IMG</h1></div>
      </div>
    </div>
  </div>
</div>



