<%= render 'shared/navbar_white' %>
<title>SEO Superheros: We Will Rank You On The First Page of Google </title>
<meta name="description" content="Find what SEO strategy works best for you! The top experts in the industry will work on you on page, off page and technical SEO. Rank first while you can!">

<div class="services-div-main">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-6">
        <h1 class="services_h2_bigger u--zoomIn">So, your page is not indexed on Google and organic traffic is too low to generate the sale? </h1>
        <p class="services_p2 u--zoomIn" style="padding-bottom: 20px;">SEO and web optimization are the foundations of Performance Based Advertising and rankings on the Google Search Engine. </p>
        <div class="u--zoomIn"><a class="button_cta_normal" href="/contacts">Call us now</a> for the best SEO strategy. </div>
      </div>
       <div class="cyber-col-web col-lg-6" >
        <div class="desktop-comm">
          <div class="d-flex row justify-content-center">
            <div class="col-lg-7 u--bounceIn" style="padding: 0; position:absolute; z-index: 1; left:25px; margin-top:60px;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/f935d49d-55c0-4e30-bdb0-09c646dcc700/public", class: "section_float_2" ,id: "video_animation" %>
            </div>
            <div class="col-lg-9 u--zoomIn" style="padding: 0; position:relative; width:100%;">
              <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/7b05067f-62e5-4880-902f-d63a5fa48a00/public", class: "" ,id: "video_animation" %>
            </div>
          </div>
        </div>
        <div class="mob-comm" style="margin-top: 50px;">
          <%= image_tag "https://imagedelivery.net/kbdeQbZSIKXp-ZjvXBIJDQ/164159d4-6132-4bda-b7c2-c323fa3bdc00/public", class: "section_float" ,id: "video_animation" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-new" style="padding-top: 10px;">
  <div class="container">
    <div class="d-flex row align-items-center" style="vertical-align: top;">
      <div class="col-lg-12" style="padding-bottom: 50px;">
        <h2 class="services_p2 reveal"><strong>We build fantastic eCommerce websites and include many functionalities in every online store. Your webshop will be:</strong></h2>
          <p class="services_p2 reveal">
            SEO and web optimization are the foundations of Performance Based Advertising and rankings on the Google Search Engine. The best industry experts will help you create the best strategy to list your web store on the first page of search results (SEO) without additional payment.
            <br><br><strong>SEO STRATEGY </strong> involves analyzing keywords in the industry through specialized software to choose the words according to the difficulty of organic recognition by Google search engines. We first select the easiest, then the more complex until we index all the essential words important for our web store.
            <br><br><strong>ACTIVITIES that have to be done are: </strong> Copywriting (texts approx. 1200 characters), writing blogs, generating backlinks, UI, UX, Landing Page Optimization, On-Page and Off-Page Optimization, Customized Premium Content (Photo and Video), Social Media Integration, Community and Content Management
          </p>
        <div class="reveal" style="line-height:40px;"><br><a class="button_cta_normal" href="/contacts">Contact Us</a> if you need the best SEO strategy you will ever see.</div>
      </div>
    </div>
  </div>
</div>


