.footer{
  background-color: #F1F2F2;
}
.footer_mita{
  width:170px;
  padding-bottom:30px;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color: #BCBEC0;
  color:#fff;
  font-size:1px;
  display:inline-block;
  line-height:36px;
  width:36px;
  height:36px;
  text-align:center;
  margin-right:7px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.youtube:hover
{
  background-color:#DC3332;
}
.social-icons a.instagram:hover
{
  background-color:#195688;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.footer_text{
  font-family: 'Poppins', sans-serif;
  font-size : 15px;
  letter-spacing : 0.16px;
  color : #6D6E71;
  color : rgb(109, 110, 113);
}
.footer_text_h3{
  font-family: Outfit, sans-serif;
  font-weight : 600;
  font-size : 30px;
  text-transform: inherit;

  line-height : 41px;
  color : #1A1A1A;
  color : rgb(26, 26, 26);
}
.footer_input{
  width:100%;
  border-radius:10px;
  border: 0 ;

}
.footer_row_1{
  padding-top: 80px;
  padding-right: 0px;
  padding-left: 0px;
}
.footer_row_2{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (max-width:767px)
{
  .footer_row_2{
  padding-left: 1px;
  padding-right: 1px;
  }
  .footer_row_1{
/*    padding-left: 35px;
    padding-right: 35px;*/
  }
}

.sections_h2_6_black{
  font-family: 'Poppins', sans-serif;
  font-weight : bold;
  font-size : 90px;
  line-height : 1em;
  letter-spacing : -1.51px;
  color : #000;
}
.sections_h4_black{
  font-family: 'Poppins', sans-serif;
  font-weight : bold;
  font-size : 22px;
  letter-spacing: .1em;
  color : #000;
  padding-top:50px;
  padding-bottom:60px;
}
.sections_p_black{
  font-family: 'Poppins', sans-serif;
  font-size : 22px;
  letter-spacing : -0.36px;
  color : #000;
  padding-top:40px;
  padding-bottom:40px;
}

.footer_row_2{
  display:flex;
  justify-content: space-between;
}
.footer_row_row_2_2{
  justify-content: end;
  text-align: right;
}
.google-badge{
  vertical-align: middle;
  height: auto;
  width: auto;
}

.footer_text_p{
  font-family: Outfit, sans-serif;
  font-size : 18px;
  text-transform: inherit;
  color : #1A1A1A;
  color : rgb(26, 26, 26);

}

.footer-mobile {
    background-color: #F1F2F2;
}

@media (max-width:767px){
  .footer_row_row_2_2{
    text-align:center;

  }
.footer_row_row_2{
  justify-content: center;
  text-align:center;
}

  .sections_h2_6_black{
    font-size : 60px;
    line-height:1.2em;
  }
  .sections_p_black{
    font-size:20px;
  }
  .sections_h4_black{
  font-size:21px;
  }
.footer_row_row_slika{
  padding-bottom:40px;
}
.footer_text{
  font-size:13px;
  text-align: center;
  justify-content:center;
}
.footer-text-4{
  display:flex;
  justify-content:center;
}
.footer_text_h3{
  text-align: center;
  font-size: 25px;
}
.footer_row_2{
  display:flex;
  justify-content:center;
  padding-top: 0px;
}
.footer_row_row_slika{
  display:flex;
  justify-content: center;
}
}
