@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;600;500&display=swap');
*{


#navbar {
  position: fixed;
  top: 0;
  background: #EC2227;
  width:100%;
  transition: top 1s;

  .nav-link{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color : #fff ;
  opacity:0.8;
}
.nav-link:hover{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color : #fff ;
  opacity:1;
  transition:all 0.3s ease;
}

}
#navbar_w{
  position: fixed;
  top: 0;
  background: #fff;
  width:100%;
  transition: top 1s;

  .nav-link{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color : #121c25 ;
  opacity:0.5;
}
.nav-link:hover{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color : #000 ;
  opacity:1;
  transition:all 0.3s ease;
}
.active{
  opacity:1;
}
}
}
.navbar-lewagon {
  justify-content: space-between;
  background: #EC2227;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: white;
  z-index:4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
}
.logo_mita{
  width:100%;
  padding-left: 90px;
}
.navbar-collapse{
  //padding-right:90px;
}
.nav-item{
  padding:10px 20px;
  color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight : 500;
  font-size : 20px;
  letter-spacing : 1.15px;
  transform: scale(1, 0.99);
  color : rgb(255, 255, 255);
}

.nav-item:hover{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight : 500;
  font-size : 15px;
  letter-spacing : 1.15px;
  color:#fff;


}
.text_nav{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight : 500;
  font-size : 15px;
  letter-spacing : 1.15px;
  color:#fff;
}
.navbar-dark .navbar-nav .nav-link{
  opacity:1;
}
.navbar-dark .navbar-nav .nav-link:hover{
  opacity:1;
}


@media only screen and (max-width: 800px) {
  .logo_mita{
    margin-left: 0;
    padding-left: 15px;
  }
  .navbar-lewagon .navbar-brand img {
    width: 180px;
  }

  .nav-item{
    padding:5px;
    text-align: center;
  }
  .navbar-toggler{
    border: 0;
    padding-right: 15px;

  }
}

#navbar2 {
  position: fixed;
  top: 0;
  background: #EC2227;
  width:100%;

  .navbar-collapse{
  position: absolute;
  width:100%;
  height:100vh;
  background: #EC2227;
  z-index:2;
  top: 60px;
  left: 0;


  }
  .nav-link{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color : #fff ;
  opacity:0.8;
}
.nav-link:hover{
  font-family: Scandia,"Helvetica Neue",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color : #fff ;
  opacity:1;
  transition:all 0.3s ease;
}
}


.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}


