@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;600;500&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: #EC2227;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
.logo_mita{
  width:100%;
  margin-left: 50px;
}
.nav-item{
  padding:15px;
  color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight : 500;
  font-size : 20px;
  letter-spacing : 1.15px;
  transform: scale(1, 0.99);
  color : rgb(255, 255, 255);
}
.navbar-collapse{
  margin-right: 50px;
}
.nav-link{
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight : 500;
  font-size : 20px;
  letter-spacing : 1.15px;
  color : rgb(255, 255, 255);
}

@media only screen and (max-width: 1000px) {
  .logo_mita{
    margin-left: 0;
  }
  .navbar-collapse{
    margin-right: 0;
  }
  .nav-item{
    padding:5px;
    text-align: center;
  }
  .navbar-toggler{
    border: 0;
  }
}
