<% title 'Professional eCommerce Checklist at Your Disposal!' %>
<% description 'MITA Group is a full service eCommerce agency. Our video ads, photo content and PPC advertising strategies will boost your sales instantly.' %>
<% keywords 'ecommerce checklist agency' %>

<%
=begin%>
 <h1>New Contact</h1>
<%
=end%>

<%= render 'form', checklist: @checklist %>

<%
=begin%>
 <%= link_to 'Back', contacts_path %>
<%
=end%>
