// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//= require bootstrap/dist/css/bootstrap
.hidden {
  display: none;
 }
.privacy_black{
  h1,h2,h3,h4{
    font-family: 'EB Garamond', serif;
  }
  padding-top:100px;
  font-family:  "TabacG2","Times New","Times New Roman",serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
}
.footer_text:hover{
  color:#46463e;
  text-decoration: none;
}
