<div id="cookies-bar" class="cookies-bar">

<div class="cookies_1">
  <div class="d-flex justify-content-center container mt-5 show fixed-bottom">
      <div class="row">
          <div class="col-md-10">
              <div class="d-flex flex-row justify-content-between align-items-center card cookie p-3">
                  <div class="d-flex flex-row align-items-center">
                      <div class="ml-2 mr-2"><span>We use third party cookies to personalize content, ads and&nbsp; analyze site traffic.<br></span><a class="learn-more" href="/cookies">Learn more<i class="fa fa-angle-right ml-2"></i></a></div>
                  </div>
                  <div><%= link_to 'Accept', request.original_url, class: 'btn btn-dark accept' %>
                      <%= link_to 'Reject', request.original_url, class: 'btn reject', style: 'display:none;' %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

